# Optional npm cache directory
.npm

# Dependency directories
node_modules/
jspm_packages/

*.log
.vscode
.cache/
dist/
.parcel-cache/data.mdb
.parcel-cache/f29bd700a54591da.txt
.parcel-cache/lock.mdb